@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@font-face {
	font-family: "Mazzard H";
	src: url("./assets/fonts/MazzardH-Regular.ttf");
}
@font-face {
	font-family: "Mazzard H Bold";
	src: url("./assets/fonts/MazzardH-Bold.ttf");
}

body {
	padding: 0 20%;
	margin: 0;
	background: url("./assets/pattern.png") repeat-x, #1e1e1e;
	background-size: 25%;
	font-family: "Roboto";
	color: #ddd;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Mazzard H";
	margin: 0;
}

h1, h2 {
	font-family: "Mazzard H Bold";
}

h1 {
	text-align: center;
	margin-bottom: 0.2em;
}

h2 {
	padding-left: 1em;
	margin-bottom: 0.7em;
}

h3, h4 { margin-bottom: 0.6em }
h5, h6 { margin-bottom: -0.15em }

#header {
	display: flex;
	justify-content: space-between;
	padding: 2em;
	position: relative;
}

.game-logo {
	height: 64px;
	user-select: none;
	pointer-events: none;
}

#logo-container {
	transition: ease 0.25s;
}

#logo-container:hover {
	margin-left: 1em;
}

#navigation {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

#navigation a {
	color: #ddd;
	text-decoration: none;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.25s ease;
	box-sizing: border-box;
}

#navigation a:hover {
	background-color: #333;
	width: 48px;
	height: 48px;
	border: 1px solid #e5007e;
}

#navigation a:hover > img {
	filter: invert(100%);
}

#navigation a img {
	filter: invert(90%);
}

#navigation .big {
	background-color: #333;
}

#allergen-informations {
	display: flex;
	position: fixed;
	left: 1em;
	bottom: 1em;
	padding: 0.5em;
	gap: 0.5em;
	flex-direction: column-reverse;
}

.open-menu-button {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	background: linear-gradient(135deg, rgba(255,124,0,1) 0%, rgba(229,0,126,1) 100%);
	margin-top: 0.5em;
	transition: 0.25s ease;
	cursor: pointer;
	user-select: none;
}

.open-menu-button:hover {
	animation: rotate 1s linear infinite;
	filter: drop-shadow(0 0 0.5em #e5007e);
}

.open-menu-button:hover ~ .allergen-item {
	display: flex;
}

.open-menu-button img {
	width: 1.5em;
	height: 1.5em;
	padding: 0.5em;
	transition: 0.25s ease;
	pointer-events: none;
}

.open-menu-button:hover > img {
	animation-name: rotate;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-direction: reverse;
	animation-iteration-count: infinite;
	filter: invert();
}

.allergen-item {
	display: none;
	align-items: center;
	gap: 0.5em;
	user-select: none;
}

.allergen-item.selected {
	color: #e5007e;
	filter: drop-shadow(0 0 0.25em #e5007e);
}

.allergen-item img {
	width: 16px;
	height: 16px;
}

#content {
	position: relative;
}

.menu-items {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 2em;
	align-items: flex-end;
}

.menu-single {
	display: flex;
	flex-direction: column;
	border: 1px solid #333;
	border-radius: 0.5em;
	height: fit-content;
	transition: 0.25s ease;
	position: relative;
	background: #1e1e1e;
	overflow: hidden;
}

/* .menu-single:hover:before {
	content: "";
	background: linear-gradient(135deg, rgba(255,124,0,1) 0%, rgba(229,0,126,1) 100%);
	position: absolute;
	left: -2px;
	right: -2px;
	top: -2px;
	bottom: -2px;
	z-index: -2;
	border-radius: 0.5em;
} */

.menu-single:hover {
	border-color: #e5007e !important;
	border-width: 2px;
	animation-name: glow;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.menu-single:hover > .item-info span {
	border-bottom: 1px solid #e5007e;
	margin-bottom: 0.5em;
}

.image-container {
	border: 1px solid #333;
	border-radius: 0.5em;
	margin: 0.5em;
	aspect-ratio: 20 / 9;
	overflow: hidden;
}

.image-container img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	transition: 0.25s ease;
}

.menu-single:hover > .image-container img {
	width: 110%;
	margin-left: -5%;
}

.new-item {
	border-color: rgba(64, 224, 208, 0.5);
}

.new-item::before {
	content: "YENİ";
	position: absolute;
	bottom: 1.5em;
	left: 1.5em;
	padding: 0.2em 0.5em;
	color: #1e1e1e;
	font-size: 0.75em;
	font-family: "Mazzard H";
	border-radius: 0.25em;
	background-color: turquoise;
	transition: 0.25s ease;
}

.new-item:hover::before {
	background-color: #e5007e;
	color: #ddd;
}

.item-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 1em;
	gap: 1em;
	margin-top: 1em;
}

.item-info h4 {
	margin: 0;
}

.item-info h6 {
	margin: 0;
	padding: 0;
}

.item-info span {
	font-size: 15px;
	box-sizing: border-box;
	transition: 0.25s ease;
	padding: 3px 6px;
	text-align: right;
}

.item-description {
	font-size: 12px;
	margin-inline: 1.25em;
	margin-top: 0.25em;
	color: #999;
}

.menu-item-allergen {
	position: absolute;
	right: 1em;
	bottom: 0.75em;
	filter: drop-shadow(0 0 0.1em black);
}

.menu-item-allergen img {
	width: 16px;
	height: 16px;
	user-select: none;
	pointer-events: none;
	
}

@media only screen and (max-width: 1200px) {
	h2 {
		padding-left: 0;
		text-align: center;
	}

	#allergen-informations {
		display: none;
		position: absolute;
		left: auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: auto;
		margin-bottom: 20px;
		padding: 0;
	}

	.allergen-item {
		display: none;
		justify-content: center;
	}

	.open-menu-button {
		display: none;
	}

	.menu-items {
		grid-template-columns: 1fr 1fr;
	}

	.menu-single {
		padding-bottom: 1em;
		background-color: transparent;
	}

	.image-container {
		position: absolute;
		margin: 0;
		border: none;
		border-radius: 0;
		filter: brightness(0.33);
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 100%;
		z-index: -1;
		user-select: none;
	}

	.menu-single.new-item::before {
		top: 1em;
		right: 1em;
		bottom: auto;
		left: auto;
		vertical-align: middle;
	}

	.menu-item-allergen {
		position: relative;
		margin: 1em 0 0 1em;
		bottom: 0;
		right: 0;
		filter: drop-shadow(0 0 0.1em black);
	}

	.item-info {
		margin-top: 0;
		filter: drop-shadow(0 0 0.1em black);
	}

	.item-description {
		filter: drop-shadow(0 0 0.1em black);
	}
}

@media only screen and (max-width: 1024px) {
	body {
		padding: 0 10%;
		background-size: 100%;
	}
}

@media only screen and (max-width: 800px) {
	#header {
		flex-direction: column;
		justify-content: center;
		padding: 2em 0;
		gap: 1em;
	}

	#navigation {
		flex: 1;
		width: 100%;
		background-color: #1e1e1e;
		justify-content: space-between;
	}

	#navigation a {
		border: 1px solid #333;
		flex: 1;
		border-radius: 0.5em;
	}

	.menu-items {
		grid-template-columns: 1fr;
	}

	.menu-items:not(:last-child)::after {
		content: "";
		width: 100%;
		border-bottom: 1px solid #333;
	}
}

@keyframes glow {
	0% {
		filter: drop-shadow(0 0 0.25em #e5007e);
	}

	50% {
		filter: drop-shadow(0 0 1em #e5007e);
	}

	100% {
		filter: drop-shadow(0 0 0.25em #e5007e);
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}